<%= _.template(require('./../includes/header-index.html'))() %>
    <div id="page-preloader" class="preloader">
        <div class="loader"></div>
    </div>
    <header class="header bg-01">
        <div class="header__firstscreen">
            <div class="container container_wide">
                <div class="firstscreen-row d-flex">
                    <div class="firstscreen-inf">
                        <div class="header__row header__row_index header_page">
                            <div class="d-flex justify-content-center justify-content-xl-between align-items-center">
                                <div class="logo logo_main mr-xl-auto">
                                    <div class="logo__img"></div>
                                    <div class="logo__txt">Voluptuous Wifes</div>
                                </div>
                            </div>
                        </div>
                        <div class="header__info">
                            <div class="header__info-inner">
                                <h1 class="h1_index">The best <br>advisor <br class="d-none d-xl-inline"> in the <br class="d-inline d-xl-none">dating <br class="d-none d-xl-inline">world</h1>
                                <div class="header__form index">
                                    <div class="form-group form-group_login">
                                        <button class="btn btn_1 btn_w100">Unlock&nbsp;Matches</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="firstscreen-img">
                        <div class="firstscreen-photo"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main class="main">
        <div class="container container_wide">
            <h2 class="h2_login">Meet your dream</h2>
            <div class="collage">
                <img class="collage__img_xs" src="img/index-collage-xs.png" alt="">
                <img class="collage__img_lg" src="img/index-collage-lg.png" alt="">
            </div>
        </div>
        <div class="index-content">
            <div class="container container_wide">
                <h1 class="index-content__title">Release Mine Combinations</h1>
                <div class="row">
                    <div class="col-12 col-lg-6 pr-lg-5">
                        <p>We have created a unique combination system that consists of three main factors that produce similarity of thought and productive connections: Life, freedom and culture. NF, in an abbreviated form, connects people who have interests in similar activities, passions and future aspirations. We also add our own personal touch to the online dating process ensuring that your experience is special and exclusive to you.</p>
                        <p>Instead of spending weeks looking for your best combination, we send you a personalized combination every day by email. As these presentations have been carefully selected based on your NF (Life, Freedom and Culture) score, you can spend more time talking or planning your first night out.</p>
                    </div>
                    <div class="col-12 col-lg-6 pl-lg-5">
                        <p>We believe in unconditional sincerity and transparency. That's why our users' profiles reflect this in every possible way. With a simple and friendly layout, our profiles clearly show all the details you need to make an informed decision.</p>
                        <p>We have created a unique combination system that consists of three main factors that produce similarity of thought and productive connections: Life, freedom and culture. NF, in an abbreviated form, connects people who have interests in similar activities, passions and future aspirations. We also add our own personal touch to the online dating process ensuring that your experience is special and exclusive to you.</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
<%= _.template(require('./../includes/footer.html'))() %>