body {
  font-family: $font_family;
  font-weight: $font_weight;
  font-size: $font_size_mobile;
  color: $font_color;
  background-color: $body_bg_color;
  line-height: 1.5;
  @media (min-width: 768px) {
    font-size: $font_size;
  }
}
.container {
  @media (min-width: 1500px) {
    max-width: $container-xxl + $grid-gutter-width;
  }
  @media (min-width: 1920px) {
    max-width: $container-xxxl + $grid-gutter-width;
  }
  &.container_wide {
    @media (min-width: 1200px) {
      //max-width: 1615px;
    }
    @media (min-width: 1500px) {
      //max-width: 1615px;
    }
    @media (min-width: 1920px) {
      max-width: 1615px;
    }
  }
  &.container_index {
    @media (min-width: 1920px) {
      max-width: 1535px;
    }
  }
  &.container_slider {
    padding-right: 0;
    padding-left: 0;
    @media (min-width: 576px) {
      padding-right: 15px;
      padding-left: 15px;
    }
  }
  &.container_unsubsribe {
    @media (min-width: 992px) {
      max-width: 700px;
    }
  }
}
.content {
  @media (min-width: 992px) {
    padding: 50px 0 0;
  }
  @media (min-width: 1200px) {
    padding: 74px 48px 20px;
  }
  @media (min-width: 1920px) {
    padding: 74px 148px 20px;
  }
}
h1 {
  font-family: $font_family;
  font-weight: 700;
  font-size: 35px;
  line-height: 49px;
  color: #fff;
  margin-bottom: 45px;
  text-align: center;
  @media (min-width: 768px) {
    //font-size: 50px;
    //line-height: 65px;
  }
  @media (min-width: 1200px) {
    color: $link2_color;
    font-size: 36px;
    line-height: 60px;
    margin-bottom: 26px;
    text-align: left;
  }
  @media (min-width: 1500px) {
    font-size: 48px;
    line-height: 80px;
    margin-bottom: 38px;
  }
  @media (min-width: 1920px) {
    font-size: 48px;
    line-height: 80px;
    margin-bottom: 38px;
  }
  &.h1_index {
    color: $btn_bg_color;
    padding-top: 44px;
    margin-bottom: 40px;
    text-align: center;
    @media (min-width: 768px) {
      font-size: 85px;
      line-height: 95px;
      padding-top: 139px;
      margin-bottom: 97px;
    }
    @media (min-width: 1200px) {
      color: $font_color;
      text-align: left;
      font-size: 52px;
      line-height: 65px;
      padding-top: 56px;
      margin-bottom: 46px;
    }
    @media (min-width: 1500px) {
      font-size: 70px;
      line-height: 85px;
      padding-top: 97px;
      margin-bottom: 53px;
    }
    @media (min-width: 1920px) {
      font-size: 80px;
      line-height: 110px;
      padding-top: 152px;
      margin-bottom: 65px;
    }
  }
  &.h1_login {
    font-size: 35px;
    line-height: 49px;
    color: $btn_bg_color;
    margin: 43px 0 29px;
    @media (min-width: 768px) {
      font-size: 78px;
      line-height: 103px;
      margin: 98px 0 60px;
    }
    @media (min-width: 1200px) {
      color: $font_color;
      font-size: 52px;
      line-height: 56px;
      margin: 50px 0 39px;
    }
    @media (min-width: 1500px) {
      font-size: 68px;
      line-height: 80px;
      margin: 100px 0 39px;
    }
    @media (min-width: 1920px) {
      font-size: 78px;
      line-height: 103px;
      margin: 135px 0 39px;
    }
  }
}
h2 {
  font-family: $font_family;
  font-weight: 700;
  font-size: 27px;
  line-height: 44px;
  color: $font_color;
  text-align: left;
  margin-bottom: 33px;
  margin-top: 27px;
  @media (min-width: 768px) {
    font-size: 46px;
    line-height: 64px;
    margin-bottom: 60px;
    margin-top: 0;
  }
  @media (min-width: 1200px) {
    font-size: 70px;
    line-height: 80px;
    margin-bottom: 90px;
  }
  &.h2_login {
    font-size: 32px;
    margin-bottom: 42px;
    margin-top: 60px;
    @media (min-width: 768px) {
      font-size: 46px;
      margin-bottom: 60px;
    }
    @media (min-width: 1200px) {
      font-size: 70px;
      margin-bottom: 125px;
      margin-top: 72px;
    }
  }
}
h3 {
  font-family: $font_family;
  font-weight: 700;
  color: $font_color;
  font-size: 17px;
  line-height: 24px;
  margin-top: 48px;
  margin-bottom: 24px;
  text-transform: uppercase;
  @media (min-width: 768px) {
    font-size: 30px;
    margin-top: 63px;
    margin-bottom: 38px;
    text-transform: none;
  }
}
p {
  line-height: 32px;
  margin-bottom: 1.5rem;
  @media (min-width: 768px) {
    line-height: 45px;
  }
  b {
    &.bmark {
      font-weight: 400;
      font-family: $font_family;
    }
  }
}
a {
  color: $link_color;
  text-decoration: none;
  &:hover {
    color: $link_hover_color;
    text-decoration: none;
  }
}
.link1 {
  font-family: $link_txt_family;
  font-weight: 700;
  font-size: 16px;
  @media (min-width: 768px) {
    font-size: 25px;
  }
}
.link2 {
  font-family: $font_family2;
  color: $link2_color;
  font-weight: 700;
  font-size: 19px;
  line-height: 39px;
  &:hover {
    color: $link2_hover_color;
  }
  @media (min-width: 768px) {
    font-size: 25px;
    line-height: 46px;
  }
}
.link3 {
  font-family: $font_family;
  font-weight: 300;
  font-size: 15px;
  color: $link3_color;
  &:hover {
    color: $link3_hover_color;
  }
  @media (min-width: 1200px) {
    font-size: 20px;
    color: #3A5954;
    &:hover {
      color: $link3_hover_color;
    }
  }
}
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: $body_bg_color;
  z-index: 999;
  transition: 0.5s all;
  opacity: 1;
  visibility: visible;
  .loader {
    width: 50px;
    height: 50px;
    background-image: url('../img/icons/logo.svg');
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: 1s spin infinite linear;
    background-repeat: no-repeat;
    background-position: 50%;
  }
  &.done {
    opacity: 0;
    visibility: hidden;
  }
  @keyframes spin {
    from {
      width: 50px;
      height: 50px;
    }
    to {
      width: 75px;
      height: 75px;
    }
  }
}

.sticky-footer {
  position: relative;
  min-height: 100%;
  body {
    margin-bottom: $body_mb_mob + $footer_height_mob;
    &.no-push-bottom {
      margin-bottom: $footer_height_mob;
    }
    .main {
      //padding-top: 60px;
    }
    .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: $footer_height_mob;
    }
    @media (min-width: 992px) {
      margin-bottom: $body_mb + $footer_height;
      .footer {
        height: $footer_height;
      }
      &.no-push-bottom {
        margin-bottom: $footer_height;
      }
    }
  }
}

.secondscreen {}

.index-content {
  padding: 240px 0 63px;
  background-color: $bg_light_1;
  position: relative;
  margin-top: -190px;
  z-index: -1;
  @media (min-width: 1200px) {
    margin-top: -130px;
    padding: 165px 0 40px;
  }
  @media (min-width: 1920px) {
    margin-top: -170px;
    padding: 140px 0 117px;
  }
  &::before {
    display: block;
    content: '';
    width: 100%;
    height: 42px;
    position: absolute;
    top: -41px;
    background-image: url('../img/bg/bg-index-wave-xs.svg');
    @media (min-width: 1200px) {
      height: 166px;
      top: -165px;
      background-image: url('../img/bg/bg-index-wave-xl.svg');
    }
  }
  p {
    line-height: 32px;
    @media (min-width: 1200px) {
      font-size: 19px;
      line-height: 40px;
    }
  }
}

.index-content__title {
  font-family: $font_family;
  font-weight: 700;
  font-size: 21px;
  line-height: 44px;
  color: $font_color;
  margin-bottom: 27px;
  text-align: left;
  @media (min-width: 768px) {
    font-size: 50px;
    line-height: 70px;
    margin-bottom: 58px;
  }
}
