.header {
  position: relative;
  .notice {
    display: inline-block;
    border-radius: 0 20px;
    background-color: $btn_bg_color;
    color: $body_bg_color;
    font-size: 15px;
    font-family: $font_family;
    font-weight: 300;
    padding: 6px 13px;
    line-height: 1;
    text-align: center;
    @media (min-width: 992px) {
      font-size: 22px;
      padding: 10px 20px 12px;
    }
  }
  &.expand {
    .header__row {
      //background-color: $bg_dark_1;
      @media (min-width: 768px) {
        background-color: transparent;
      }
    }
    .header__nav-toggle {
      width: 18px;
      height: 17px;
      background-image: url("../img/icons/icon-close.svg");
    }
  }
  &.bg-01 {
    .header__firstscreen {
      background-image: url("../img/bg/mobile/bg-01.jpg");
      @media (min-width: 1200px) {
        background-image: url('../img/bg/bg-firstscreen.svg');
      }
    }
    .firstscreen-photo {
      @media (min-width: 1200px) {
        background-image: url("../img/bg/desktop/bg-01.jpg");
      }
    }
  }
  &.bg-02 {
    .header__firstscreen {
      background-image: url("../img/bg/mobile/bg-02.jpg");
      @media (min-width: 1200px) {
        background-image: url('../img/bg/bg-firstscreen.svg');
      }
    }
    .firstscreen-photo {
      @media (min-width: 1200px) {
        background-image: url("../img/bg/desktop/bg-02.jpg");
      }
    }
  }
  &.bg-03 {
    .header__firstscreen {
      background-image: url("../img/bg/mobile/bg-03.jpg");
      @media (min-width: 1200px) {
        background-image: url('../img/bg/bg-firstscreen.svg');
      }
    }
    .firstscreen-photo {
      @media (min-width: 1200px) {
        background-image: url("../img/bg/desktop/bg-03.jpg");
      }
    }
  }
  &.bg-04 {
    .header__firstscreen {
      background-image: url("../img/bg/mobile/bg-04.jpg");
      @media (min-width: 1200px) {
        background-image: url('../img/bg/bg-firstscreen.svg');
      }
    }
    .firstscreen-photo {
      @media (min-width: 1200px) {
        background-image: url("../img/bg/desktop/bg-04.jpg");
      }
    }
  }
  &.bg-05 {
    .header__firstscreen {
      background-image: url("../img/bg/mobile/bg-05.jpg");
      @media (min-width: 1200px) {
        background-image: url('../img/bg/bg-firstscreen.svg');
      }
    }
    .firstscreen-photo {
      @media (min-width: 1200px) {
        background-image: url("../img/bg/desktop/bg-05.jpg");
        //background-position: 50%;
      }
    }
  }
  &.header_wave {
    @media (min-width: 1200px) {
      &::after {
        content: '';
        display: block;
        width: 100%;
        height: 137px;
        background-image: url('../img/bg/header-wave.svg');
        background-repeat: no-repeat;
        background-position: center top;
        position: absolute;
        bottom: -137px;
      }
    }
  }
}
.body_bg {
  &.light1 {
    background-color: $bg_light_1;
  }
  &.light2 {
    background-color: $bg_light_2;
  }
  .header {
    background-color: $body_bg_color;
    padding-bottom: 30px;
    @media (min-width: 768px) {
      padding-bottom: 60px;
    }
    @media (min-width: 992px) {
      padding-bottom: 90px;
    }
    @media (min-width: 1200px) {
      padding-bottom: 0;
    }
  }
}
.main_wave {
  @media (min-width: 1200px) {
    padding-top: calc(90px + 137px);
  }
  @media (min-width: 1920px) {
    padding-top: calc(120px + 137px);
  }
}

.header_page {
  margin-bottom: 30px;
  @media (min-width: 768px) {
    margin-bottom: 60px;
  }
  @media (min-width: 992px) {
    margin-bottom: 90px;
  }
  @media (min-width: 1920px) {
    margin-bottom: 120px;
  }
}

.header__row {
  padding: 24px 0 0;
  @media (min-width: 992px) {
    padding: 78px 0 0;
  }
  @media (min-width: 1200px) {
    padding: 78px 0 0;
  }
  @media (min-width: 1350px) {
    padding: 78px 0 0;
  }
  @media (min-width: 1400px) {
    padding: 78px 0 0;
  }
  &.header__row_main {
    @media (min-width: 1200px) {
      padding: 22px 0 0;
      margin-bottom: 45px;
    }
    @media (min-width: 1350px) {
      padding: 22px 0 0;
    }
    @media (min-width: 1400px) {
      padding: 22px 0 0;
    }
    @media (min-width: 1500px) {
      padding: 71px 0 0;
      margin-bottom: 90px;
    }
    @media (min-width: 1920px) {
      padding: 71px 0 0;
      margin-bottom: 90px;
    }
  }
  &.header__row_login {
    padding: 48px 0 0;
    @media (min-width: 1200px) {
      padding: 78px 0 0;
      margin-bottom: 10px;
    }
    @media (min-width: 1500px) {
      margin-bottom: 54px;
    }
    @media (min-width: 1920px) {
      margin-bottom: 54px;
    }
  }
  &.header__row_index {
    padding: 112px 0 0;
    margin-bottom: 0;
    @media (min-width: 1200px) {
      padding: 78px 0 0;
      margin-bottom: 10px;
    }
    @media (min-width: 1500px) {
      margin-bottom: 54px;
    }
    @media (min-width: 1920px) {
      margin-bottom: 54px;
    }
  }
}

.header__nav-toggle {
  display: block;
  width: 22px;
  height: 15px;
  background-image: url('../img/icons/icon-menu.svg');
  background-repeat: no-repeat;
  background-position: 100%;
  padding-left: 10px;
  cursor: pointer;
  &:hover {
    opacity: 0.75;
  }
  @media (min-width: 768px) {
    display: none;
  }
}
.header__userinfo {
  display: none;
  padding-left: 30px;
  max-width: 500px;
  @media (min-width: 768px) {
    display: block;
  }
  .notice {
    margin-left: 12px;
    position: relative;
    top: -2px;
    @media (min-width: 992px) {
      top: -3px;
    }
  }
  .header__userinfo-text,
  a.header__userinfo-text {
    font-family: $font_family;
    font-weight: 500;
    font-size: 18px;
    color: $font_color;
    text-decoration: none;
    word-break: break-all;
    @media (min-width: 992px) {
      font-size: 28px;
    }
    &:hover {
      .notice {
        background-color: $btn_hover_bg_color;
      }
    }
  }
}
.header-menu {
  display: none;
  @media (min-width: 768px) {
    display: none !important;
  }
}
.header-menu__wrap {
  padding-top: 40px;
  padding-bottom: 40px;
}
.header-menu__item {
  padding: 17px 0;
  &:hover {
    text-decoration: none;
    .notice {
      background-color: $btn_hover_bg_color;
    }
  }
}
.header-menu__item-text {
  font-family: $font_family;
  font-weight: 500;
  font-size: 18px;
  color: $font_color;
  text-decoration: none;
  word-break: break-all;
  padding-right: 8px;
  @media (min-width: 768px) {
    font-size: 28px;
  }
}

.firstscreen-row {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  @media (min-width: 1200px) {
    flex-direction: row;
  }
  .firstscreen-inf {
    width: 100%;
    @media (min-width: 992px) {
      width: 580px;
      margin: 0 auto;
    }
    @media (min-width: 1200px) {
      width: 470px;
      min-width: 470px;
      max-width: 470px;
      margin: 0;
    }
    @media (min-width: 1500px) {
      width: 480px;
      min-width: 480px;
      max-width: 480px;
    }
    @media (min-width: 1920px) {
      width: 523px;
      min-width: 523px;
      max-width: 523px;
    }
  }
  .firstscreen-img {
    display: none;
    @media (min-width: 1200px) {
      display: block;
      width: 580px;
      min-width: 580px;
      max-width: 580px;
      height: 619px;
    }
    @media (min-width: 1500px) {
      display: block;
      width: 790px;
      min-width: 790px;
      max-width: 790px;
      height: 843px;
    }
    @media (min-width: 1920px) {
      width: 970px;
      min-width: 970px;
      max-width: 970px;
      height: 1050px;
    }
    .firstscreen-photo {
      width: 100%;
      background-position: 50%;
      background-size: cover;
      background-repeat: no-repeat;
      @media (min-width: 1200px) {
        height: 619px;
        border-radius: 0 250px;
      }
      @media (min-width: 1500px) {
        height: 843px;
        border-radius: 0 400px;
      }
      @media (min-width: 1920px) {
        height: 1050px;
      }
    }
  }
}


.header__firstscreen {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 35px;
  border-radius: 0 0 0 119px;
  @media (min-width: 1200px) {
    border-radius: 0;
    background-size: 669px;
    background-position: 110% 140%;
  }
  @media (min-width: 1500px) {
    background-position: 100% 200%;
  }
  @media (min-width: 1920px) {
    background-position: top right;
  }
  @media (min-width: 2150px) {
    background-position: 100% 130%;
    background-size: 40%;
  }
}

.header__info {
  width: 100%;
  @media (min-width: 768px) {
    width: auto;
  }
  @media (min-width: 992px) {}
  @media (min-width: 1200px) {
    width: 100%;
  }
}

.header__form {
  width: 100%;
  margin-bottom: 92px;
  @media (min-width: 768px) {
    margin: 0 auto 63px;
  }
  @media (min-width: 992px) {
    margin: 0 0 63px;
  }
  @media (min-width: 1200px) {
    width: 100%;
    margin: 0;
  }
  @media (min-width: 1500px) {}
  @media (min-width: 1920px) {}
  &.login {
    margin-bottom: 44px;
    @media (min-width: 768px) {
      margin: 0 auto 63px;
    }
    @media (min-width: 992px) {
      margin: 0 0 63px;
    }
    @media (min-width: 1200px) {
      margin: 0;
    }
  }
}

.collage {
  overflow: hidden;
  margin-bottom: 46px;
  @media (min-width: 992px) {
    overflow: visible;
    position: relative;
    margin-bottom: 80px;
  }
  @media (min-width: 1200px) {
    margin-bottom: 132px;
  }
}

.collage__img_xs {
  display: block;
  width: 100%;
  @media (min-width: 768px) {
    position: static;
    width: 100%;
  }
  @media (min-width: 992px) {
    display: none;
  }
}

.collage__img_lg {
  display: none;
  @media (min-width: 992px) {
    display: block;
    width: 100%;
  }
}